<div class="w-100-p">
  <div class="noc-activity-node noctua-form-table w-100-p"
    [ngClass]="{'noc-selected': activity.displayId===camService.currentMatch?.activityDisplayId}" fxLayout="row"
    fxLayoutAlign="start stretch">
    <div class="noc-term-cell noc-entity-cell" fxLayout="column" fxLayoutAlign="start stretch"
      fxFlex="{{relationWidth}}" [attr.id]="entity.term?.displayId"
      [ngClass]="{'noc-highlight-match': entity.term?.highlight,
            'noc-highlight-modified': entity.term?.modified,
            'noc-highlight-match-current': camService.currentMatch?.uuid && entity.term?.uuid===camService.currentMatch?.uuid}">
      <div class="noc-cell-floating-title">
        {{entity.label}}
      </div>
      @if (entity.canDelete) {
        <button mat-icon-button (click)="deleteEntity(entity)" class="noc-delete-button">
          <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
        </button>
      }
      <span class="">
        {{entity.term?.label}} <br>
        <a (click)="$event.stopPropagation()" href="{{entity.term?.url}}" target="_blank">
          {{ entity.term?.id }}
        </a>
      </span>
      @if (noctuaUserService.user && entity.term && options.editableTerms) {
        <noctua-inline-editor [cam]="cam"
          [activity]='activity' [entity]="entity" [category]="EditorCategory.term" class="noc-edit-button">
        </noctua-inline-editor>
      }
    </div>
    @if (settings.showEvidence) {
      <div fxFlex="" class="noc-evidence-cell p-0" fxLayout="row"
        fxLayoutAlign="start stretch">
        @if (entity.showEvidence) {
          <noc-evidence-form-table class="w-100-p" [settings]="settings"
            [options]="optionsDisplay" [cam]="cam" [entity]="entity">
          </noc-evidence-form-table>
        }
      </div>
    }
    @if (!settings.showEvidence && settings.showEvidenceSummary) {
      <div class="evidence-summary-cell p-0"
        fxLayout="column" fxLayoutAlign="center center">
        @if (!entity.skipEvidenceCheck) {
          <div class="w-100-p ">
            @if (entity.predicate?.evidence.length>0) {
              <div class="">
                {{entity.predicate?.evidence.length}} evidence
              </div>
            }
            @if (entity.predicate?.evidence.length===0) {
              <div class="noc-no-info">
                no evidence present.
              </div>
            }
          </div>
        }
      </div>
    }
    <span fxFlex=""></span>
    @if (noctuaUserService.user &&  options.showMenu) {
      <div class="noc-cell noc-action-cell" fxLayout="column"
        fxLayoutAlign="center center">
        @if (settings.displayMenuButton) {
          <button mat-icon-button (click)="updateCurrentMenuEvent($event)"
            class="noc-action-button" fxFlex="40px" [matMenuTriggerFor]="entityMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
        }
        <mat-menu #entityMenu="matMenu" class="noc-dropdown-menu noc-menu-panel">
          <!--  <button mat-menu-item *ngIf="entity.aspect" class="" (click)="openSearchDatabaseDialog(entity)">
          Search Annotations
        </button> -->
        @if (entity.insertMenuNodes?.length>0) {
          <button mat-menu-item [matMenuTriggerFor]="addMenu">Add</button>
        }
        <button mat-menu-item [matMenuTriggerFor]="evidenceMenu">Evidence</button>
        @if (entity.canDelete) {
          <button mat-menu-item class="" color="warn" (click)="deleteEntity(entity)">
            Delete
          </button>
        }
      </mat-menu>
      @if (settings?.displayAddButton && entity.insertMenuNodes?.length>0) {
        <button mat-icon-button
          (click)="updateCurrentMenuEvent($event)" class="noc-action-button" fxFlex="40px" [matMenuTriggerFor]="addMenu">
          <fa-icon [icon]="['fas', 'plus']"></fa-icon>
        </button>
      }
      <mat-menu #addMenu="matMenu" class="noc-extensions-menu-panel">
        @for (insertMenuItem of entity.insertMenuNodes; track insertMenuItem) {
          <button mat-menu-item fxLayout="column"
            fxLayoutAlign="start start" class="w-100-p" (click)="insertEntity(entity, insertMenuItem)">
            {{insertMenuItem?.label}}
            <div class="noc-terms-description">
              {{insertMenuItem?.rangeLabel}}
            </div>
          </button>
        }
      </mat-menu>
      <mat-menu #evidenceMenu="matMenu" class="noc-dropdown-menu noc-menu-panel">
        <button mat-menu-item (click)="addEvidence(entity)">
          Add Evidence
        </button>
      </mat-menu>
    </div>
  }
</div>
</div>