<div class="w-full">
  <div class="noc-activity-node noctua-form-table w-full flex flex-row justify-start items-stretch">
    <div class="noc-term-cell noc-entity-cell flex flex-col justify-start items-stretch"
      [style.flex-basis]="relationWidth" [attr.id]="entity.term?.displayId"
      [ngClass]="{'noc-highlight-match': entity.term?.highlight,
            'noc-highlight-modified': entity.term?.modified,
            'noc-highlight-match-current': camService.currentMatch?.uuid && entity.term?.uuid===camService.currentMatch?.uuid}">
      <div class="noc-cell-floating-title">
        {{entity.label}}
      </div>
      @if (entity.canDelete) {
      <button mat-icon-button (click)="deleteEntity(entity)" class="noc-delete-button">
        <fa-icon [icon]="['far', 'trash-alt']"></fa-icon>
      </button>
      }
      <span class="">
        {{entity.term?.label}} <br>
        <a (click)="$event.stopPropagation()" href="{{entity.term?.url}}" target="_blank">
          {{ entity.term?.id }}
        </a>
      </span>
      @if (noctuaUserService.user && entity.term && options.editableTerms) {
      <noctua-inline-editor [cam]="cam" [activity]='activity' [entity]="entity" [category]="EditorCategory.term"
        class="noc-edit-button">
      </noctua-inline-editor>
      }
    </div>
    @if (settings.showEvidence) {
    <div class="grow noc-evidence-cell p-0 flex flex-row justify-start items-stretch">
      @if (entity.showEvidence) {
      <noc-evidence-form-table class="w-full" [settings]="settings" [options]="optionsDisplay" [cam]="cam"
        [entity]="entity">
      </noc-evidence-form-table>
      }
    </div>
    }
    @if (!settings.showEvidence && settings.showEvidenceSummary) {
    <div class="evidence-summary-cell p-0 flex flex-col justify-center items-center">
      @if (!entity.skipEvidenceCheck) {
      <div class="w-full ">
        @if (entity.predicate?.evidence.length>0) {
        <div class="">
          {{entity.predicate?.evidence.length}} evidence
        </div>
        }
        @if (entity.predicate?.evidence.length===0) {
        <div class="noc-no-info">
          no evidence present.
        </div>
        }
      </div>
      }
    </div>
    }
    <span class="grow"></span>
    @if (noctuaUserService.user && options.showMenu) {
    <div class="noc-cell noc-action-cell flex flex-col justify-center items-center">
      @if (settings.displayMenuButton) {
      <button mat-icon-button (click)="updateCurrentMenuEvent($event)" class="noc-action-button h-[40px]"
        [matMenuTriggerFor]="entityMenu">
        <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
      </button>
      }
      <mat-menu #entityMenu="matMenu" class="noc-dropdown-menu noc-menu-panel">
        <!--  <button mat-menu-item *ngIf="entity.aspect" class="" (click)="openSearchDatabaseDialog(entity)">
          Search Annotations
        </button> -->
        @if (entity.insertMenuNodes?.length>0) {
        <button mat-menu-item [matMenuTriggerFor]="addMenu">Add</button>
        }
        <button mat-menu-item [matMenuTriggerFor]="evidenceMenu">Evidence</button>
        @if (entity.canDelete) {
        <button mat-menu-item class="" color="warn" (click)="deleteEntity(entity)">
          Delete
        </button>
        }
      </mat-menu>
      @if (settings?.displayAddButton && entity.insertMenuNodes?.length>0) {
      <button mat-icon-button (click)="updateCurrentMenuEvent($event)" class="noc-action-button h-[40px]"
        [matMenuTriggerFor]="addMenu">
        <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      </button>
      }
      <mat-menu #addMenu="matMenu" class="noc-extensions-menu-panel">
        @for (insertMenuItem of entity.insertMenuNodes; track insertMenuItem) {
        <button mat-menu-item class="w-full flex flex-col justify-start items-start"
          (click)="insertEntity(entity, insertMenuItem)">
          {{insertMenuItem?.label}}
          <div class="noc-terms-description">
            {{insertMenuItem?.rangeLabel}}
          </div>
        </button>
        }
      </mat-menu>
      <mat-menu #evidenceMenu="matMenu" class="noc-dropdown-menu noc-menu-panel">
        <button mat-menu-item (click)="addEvidence(entity)">
          Add Evidence
        </button>
      </mat-menu>
    </div>
    }
  </div>
</div>
