<div class="w-100-p h-100-p" fxLayout="row" fxLayoutAlign="start start">

  <div class="w-100-p h-100-p" fxLayout="column" fxLayoutAlign="start stretch">
    @if (!noctuaUserService.user) {
    <div class="noc-not-loggedin" fxLayout="row" fxLayoutAlign="center center">
      Not Logged In: You can only view existing annotations
    </div>
    }
    <noc-cam-toolbar [cam]="cam" [options]="camToolbarOptions"></noc-cam-toolbar>
    <mat-drawer-container class="h-100-p" fxFlex="" fxLayout="row" fxLayoutAlign="start start" [hasBackdrop]="false"
      autosize>
      <mat-drawer #leftDrawer class="noc-left-drawer" mode="side" position="start" opened>
        <div class="h-100-p">
          @switch (noctuaCommonMenuService.selectedLeftPanel) {
          @case (LeftPanel.camForm) {
          <noc-cam-form [panelDrawer]="leftDrawer">
          </noc-cam-form>
          }
          @case (LeftPanel.copyModel) {
          <noc-copy-model [panelDrawer]="leftDrawer" [panelSide]="'left'">
          </noc-copy-model>
          }
          }
        </div>
      </mat-drawer>
      <mat-drawer-content class="w-100-p h-100-p" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="w-100-p h-100-p overflow-y-auto">
          <noc-cam-graph [cam]="cam"></noc-cam-graph>
        </div>
      </mat-drawer-content>
      <mat-drawer #rightDrawer class="noc-right-drawer" mode="over" position="end">
        <div class="h-100-p" #scrollbarRef>
          @switch (noctuaCommonMenuService.selectedRightPanel) {

          @case (RightPanel.activityTable) {
          <noc-graph-activity-table [panelDrawer]="rightDrawer" [options]="tableOptions" [cam]="cam">
          </noc-graph-activity-table>
          }
          @case (RightPanel.camErrors) {
          <noc-cam-errors [panelDrawer]="rightDrawer" [cam]="cam">
          </noc-cam-errors>
          }

          }
        </div>
      </mat-drawer>
    </mat-drawer-container>
  </div>
</div>