@use "@noctua/scss/noctua" as *;
@use "@noctua.common/scss/noctua.common";

:host {
  @include media-breakpoint("xs") {
    width: 100%;
  }

  @include media-breakpoint-up("sm") {
    width: 600px;
  }

  // Activity form height constraint
  .noc-activity-form {
    position: relative;
    height: 400px !important;
    min-height: 400px !important;
    max-height: 400px !important;
  }

  .mat-mdc-dialog-container {
    padding: 0;
  }
}
