<!-- <div class="dialog-content-wrapper">
<mat-toolbar class="mat-primary m-0">
  <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="start center">
    <span class="title dialog-title">
    Create an Activity</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" color="primary"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon> Close
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div mat-dialog-content class="noc-dialog-body" noctuaPerfectScrollbar>
  <noc-activity-form [options]="options"> </noc-activity-form>
</div>
<div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
  <span fxFlex></span>
  <button (click)='close()' mat-raised-button color="" class="mr-8">Close</button>
</div>
</div> -->

@if (formType===FormType.ACTIVITY) {
  <noc-activity-form [closeDialog]="closeDialog"> </noc-activity-form>
}
@if (formType===FormType.ACTIVITY_CONNECTOR) {
  <noc-activity-connector
  [closeDialog]="closeDialog"></noc-activity-connector>
}
@if (formType===FormType.CHEMICAL_CONNECTOR) {
  <noc-chemical-connector-form
  [closeDialog]="closeDialog"></noc-chemical-connector-form>
}