<div fxLayout="column" fxLayoutAlign="start stretch" class="noc-drawer w-100-p h-100-p">
  <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
    <span class="noc-drawer-header-title">
    Connect via Chemical Intermediate</span>
    <span fxFlex></span>
    <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" color="primary"
      aria-label="Close dialog">
      <mat-icon>close</mat-icon> Close
    </button>
  </div>
  <div class="noc-drawer-body" fxLayout="column" fxLayoutAlign="start start" noctuaPerfectScrollbar>

    @if (commonItems.length > 0) {
      <div fxLayout="column" fxLayoutAlign="start stretch"
        class="noc-form-section w-100-p">
        <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
          <div class="noc-section-heading">
            Participants common to upstream and downstream activities
          </div>
        </div>
        <div class="noc-section-body" fxLayout="column" fxLayoutAlign="start stretch">
          @for (item of commonItems; track item) {
            <div>
              <mat-checkbox [(ngModel)]="item.selected" (ngModelChange)="onItemChange()">
                {{ item.label }} ({{ item.id }})
              </mat-checkbox>
            </div>
          }
        </div>
      </div>
    }
    @if (subjectItems.length > 0) {
      <div fxLayout="column" fxLayoutAlign="start stretch"
        class="noc-form-section w-100-p">
        <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
          <div class="noc-section-heading">
            Participants in upstream activity only
          </div>
        </div>
        <div class="noc-section-body" fxLayout="column" fxLayoutAlign="start stretch">
          @for (item of subjectItems; track item) {
            <div>
              <mat-checkbox [(ngModel)]="item.selected" (ngModelChange)="onItemChange()">
                {{ item.label }} ({{ item.id }})
              </mat-checkbox>
            </div>
          }
        </div>
      </div>
    }

    @if (objectItems.length > 0) {
      <div fxLayout="column" fxLayoutAlign="start stretch"
        class="noc-form-section w-100-p">
        <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
          <div class="noc-section-heading">
            Participants in downstream activity only
          </div>
        </div>
        <div class="noc-section-body" fxLayout="column" fxLayoutAlign="start stretch">
          @for (item of objectItems; track item) {
            <div>
              <mat-checkbox [(ngModel)]="item.selected" (ngModelChange)="onItemChange()">
                {{ item.label }} ({{ item.id }})
              </mat-checkbox>
            </div>
          }
        </div>
      </div>
    }

    @if (subjectItems.length === 0 && objectItems.length > 0) {
      <div class="noc-no-info">
        no participants found for upstream activity
      </div>
    }

    @if (objectItems.length === 0 && subjectItems.length > 0) {
      <div class="noc-no-info">
        no participants found for downstream activity
      </div>
    }


    <form name="connectorFormGroup" [formGroup]="connectorFormGroup" class="noc-connector-form">
      <div fxLayout="column" fxLayoutAlign="start stretch" class="noc-form-section w-100-p">


        <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
          <div class="noc-section-heading">
            Evidence
          </div>
        </div>
        <div class="noc-section-body p-0" fxLayout="column" fxLayoutAlign="start stretch">
          <div class="px-12 noc-group-row" fxLayout="column">
            @for (evidence of connectorFormGroup.get('evidenceFormArray')?.controls; track evidence; let i = $index) {
              <div formArrayName="evidenceFormArray"
                >
                <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
                  <div class="p-4" fxFlex="55">
                    <mat-form-field appearance="outline" class="noc-sm w-100-p">
                      <mat-label>Evidence</mat-label>
                      <textarea type="text" matInput formControlName="evidence" [matAutocomplete]="evidenceAuto"
                      rows="2"></textarea>
                      <mat-autocomplete #evidenceAuto="matAutocomplete" [displayWith]="evidenceDisplayFn"
                        class="noc-term-autocomplete">
                        @for (item of connectorActivity?.predicate?.evidenceLookup.results; track item) {
                          <mat-option
                            [value]="item">
                            <div class="w-100-p" fxLayout="row" fxLayoutAlign="start center">
                              <div class="noc-term-label">
                                {{ item.label }}
                              </div>
                              <span fxFlex></span>
                              <div class="noc-term-id">
                                {{ item.id }}
                              </div>
                            </div>
                          </mat-option>
                        }
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                  <div class="p-4" fxFlex="25">
                    <mat-form-field appearance="outline" class="noc-sm w-100-p">
                      <mat-label>Reference</mat-label>
                      <textarea matInput formControlName="reference" rows="2"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="p-4" fxFlex fxFlex="20">
                    <mat-form-field appearance="outline" class="noc-sm w-100-p">
                      <mat-label>With</mat-label>
                      <textarea matInput formControlName="with" rows="2"></textarea>
                    </mat-form-field>
                  </div>
                  <span fxFlex=""></span>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </form>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" class="noc-drawer-footer noc-submit-row">

    <span fxFlex></span>
    <button [disabled]="getSelectedItems().length===0" (click)="save()" type="submit" class="noc-rounded-button"
    mat-raised-button color="primary">Save</button>

  </div>
</div>