@use "@angular/material" as mat;
@import "@noctua/scss/noctua";
@import "@noctua.common/scss/noctua.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  width: 100%; // display: block;
  background-color: white;
  @include mat.elevation(4);

  .noc-drawer-body {
    min-height: calc(100% - 80px);
  }

  .noc-radio-button-rounded {
    min-width: 110px;
  }

  .noc-connector-form {
    width: 100%;
    background-color: #fff;
  }

  .noc-form-section {
    .noc-section-body {
      padding: 20px 12px;
    }
  }

  .noc-header {
    @include deep-height(40px);
    background-color: #eee;
    border-bottom: #ccc solid 1px;

    mat-icon-button {
      @include deep-height(40px);
      @include deep-width(40px);
      line-height: 40px;
    }

    .noc-title {
      font-size: 10px;
      padding: 0 14px;
    }
  }

  .noc-body {
    padding: 0 14px 14px 14px;
  }
}
