<div class="flex flex-col justify-start items-stretch noc-drawer w-full h-full">
  <div class="noc-drawer-header flex flex-row justify-start items-center">
    <span class="noc-drawer-header-title">
      Connect via Chemical Intermediate</span>
    <span class="grow"></span>
    <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" color="primary"
      aria-label="Close dialog">
      <fa-icon [icon]="['fas', 'times']"></fa-icon> Close
    </button>
  </div>
  <div class="noc-drawer-body overflow-y-auto flex flex-col justify-start items-start">

    @if (commonItems.length > 0) {
    <div class="flex flex-col justify-start items-stretch noc-form-section w-full">
      <div class="noc-section-header flex flex-row justify-start items-center">
        <div class="noc-section-heading">
          Participants common to upstream and downstream activities
        </div>
      </div>
      <div class="noc-section-body flex flex-col justify-start items-stretch">
        @for (item of commonItems; track item) {
        <div>
          <mat-checkbox [(ngModel)]="item.selected" (ngModelChange)="onItemChange()">
            {{ item.label }} ({{ item.id }})
          </mat-checkbox>
        </div>
        }
      </div>
    </div>
    }
    @if (subjectItems.length > 0) {
    <div class="flex flex-col justify-start items-stretch noc-form-section w-full">
      <div class="noc-section-header flex flex-row justify-start items-center">
        <div class="noc-section-heading">
          Participants in upstream activity only
        </div>
      </div>
      <div class="noc-section-body flex flex-col justify-start items-stretch">
        @for (item of subjectItems; track item) {
        <div>
          <mat-checkbox [(ngModel)]="item.selected" (ngModelChange)="onItemChange()">
            {{ item.label }} ({{ item.id }})
          </mat-checkbox>
        </div>
        }
      </div>
    </div>
    }

    @if (objectItems.length > 0) {
    <div class="flex flex-col justify-start items-stretch noc-form-section w-full">
      <div class="noc-section-header flex flex-row justify-start items-center">
        <div class="noc-section-heading">
          Participants in downstream activity only
        </div>
      </div>
      <div class="noc-section-body flex flex-col justify-start items-stretch">
        @for (item of objectItems; track item) {
        <div>
          <mat-checkbox [(ngModel)]="item.selected" (ngModelChange)="onItemChange()">
            {{ item.label }} ({{ item.id }})
          </mat-checkbox>
        </div>
        }
      </div>
    </div>
    }

    @if (subjectItems.length === 0 && objectItems.length > 0) {
    <div class="noc-no-info">
      no participants found for upstream activity
    </div>
    }

    @if (objectItems.length === 0 && subjectItems.length > 0) {
    <div class="noc-no-info">
      no participants found for downstream activity
    </div>
    }


    <form name="connectorFormGroup" [formGroup]="connectorFormGroup" class="noc-connector-form">
      <div class="flex flex-col justify-start items-stretch noc-form-section w-full">


        <div class="noc-section-header flex flex-row justify-start items-center">
          <div class="noc-section-heading">
            Evidence
          </div>
        </div>
        <div class="noc-section-body p-0 flex flex-col justify-start items-stretch">
          <div class="px-12 noc-group-row flex flex-col">
            @for (evidence of connectorFormGroup.get('evidenceFormArray')?.controls; track evidence; let i = $index) {
            <div formArrayName="evidenceFormArray">
              <div [formGroupName]="i" class="flex flex-row justify-start items-center w-full">
                <div class="p-4 w-[55%]">
                  <mat-form-field appearance="outline" class="noc-sm w-full">
                    <mat-label>Evidence</mat-label>
                    <textarea type="text" matInput formControlName="evidence" [matAutocomplete]="evidenceAuto"
                      rows="2"></textarea>
                    <mat-autocomplete #evidenceAuto="matAutocomplete" [displayWith]="evidenceDisplayFn"
                      class="noc-term-autocomplete">
                      @for (item of connectorActivity?.predicate?.evidenceLookup.results; track item) {
                      <mat-option [value]="item">
                        <div class="w-full flex flex-row justify-start items-center">
                          <div class="noc-term-label">
                            {{ item.label }}
                          </div>
                          <span class="grow"></span>
                          <div class="noc-term-id">
                            {{ item.id }}
                          </div>
                        </div>
                      </mat-option>
                      }
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div class="p-4 w-1/4">
                  <mat-form-field appearance="outline" class="noc-sm w-full">
                    <mat-label>Reference</mat-label>
                    <textarea matInput formControlName="reference" rows="2"></textarea>
                  </mat-form-field>
                </div>
                <div class="p-4 w-[20%]">
                  <mat-form-field appearance="outline" class="noc-sm w-full">
                    <mat-label>With</mat-label>
                    <textarea matInput formControlName="with" rows="2"></textarea>
                  </mat-form-field>
                </div>
                <span class="grow"></span>
              </div>
            </div>
            }
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="flex flex-row justify-start items-center noc-drawer-footer noc-submit-row">

    <span class="grow"></span>
    <button [disabled]="getSelectedItems().length===0" (click)="save()" type="submit" class="noc-rounded-button"
      mat-raised-button color="primary">Save</button>

  </div>
</div>
