@use "@angular/material" as mat;
@import "@noctua/scss/noctua";
@import "@noctua.common/scss/noctua.common";

:host {
  width: 100%;
  background-color: white;
  @include mat.elevation(4);

  .noc-drawer-body {
    min-height: calc(100% - 80px);
  }

  .noc-connector-form {
    width: 100%;
    background-color: #fff;
  }
}
