<div [formGroup]="entityFormGroup" class="flex flex-row justify-start items-stretch w-full">
  @if (entity.treeLevel>1) {
  <div class="noc-tree-input noc-level-1 flex flex-col justify-center items-center">
    @if (entity.treeLevel===2) {
    <div class="noc-tree-line line-m grow"></div>
    }
  </div>
  }
  @if (entity.treeLevel>2) {
  <div class="noc-tree-input noc-level-2 flex flex-col justify-start items-center">
    @if (entity.treeLevel===3) {
    <div class="noc-tree-line line-t basis-1/2"></div>
    }
    @if (entity.treeLevel<3) { <div class="noc-tree-line iine-b basis-1/2">
  </div>
  }
</div>
}
@if (entity.treeLevel>3) {
<div class="noc-tree-input noc-level-3 flex flex-col justify-start items-center">
  @if (entity.treeLevel===4) {
  <div class="noc-tree-line line-t basis-1/2"></div>
  }
  @if (entity.treeLevel<4) { <div class="noc-tree-line iine-b basis-1/2">
</div>
}
</div>
}
@if (entity.treeLevel>4) {
<div class="noc-tree-input noc-level-3 flex flex-col justify-start items-center">
  @if (entity.treeLevel===5) {
  <div class="noc-tree-line line-t basis-1/2"></div>
  }
  @if (entity.treeLevel<5) { <div class="noc-tree-line iine-b basis-1/2">
</div>
}
</div>
}
<div class="p-4 flex-1 flex flex-row justify-start items-stretch">
  <mat-form-field class="noc-sm w-full" appearance="outline">
    <mat-label>{{entity.label}}</mat-label>
    <textarea type="text" matInput formControlName="term" (focus)="updateTermList()" [matAutocomplete]="termAuto"
      row="2">
    </textarea>
    <mat-autocomplete #termAuto="matAutocomplete" [displayWith]="termDisplayFn"
      (optionSelected)="updateMenu($event.option.value)" class="noc-term-autocomplete flex flex-row justify-start items-start">
      <div class="w-[400px]">
        @for (item of entity?.termLookup.results; track item) {
        <mat-option [value]="item" [disabled]="item.notAnnotatable===false">
          <div class="w-full flex flex-row justify-start items-center">
            <div class="noc-term-label">
              {{ item.label }}
            </div>
            <span class="grow"></span>
            <div class="noc-term-id">
              @if (item.link) {
              <a (click)="$event.stopPropagation()" href="{{item.link}}" target="_blank">
                {{ item.id }}
              </a>
              }
              @if (!item.link) {
              <span>
                {{ item.id }}
              </span>
              }
            </div>
            <button mat-stroked-button (click)="openTermDetails($event, item)"
              class="noc-term-detail-trigger noc-rounded-button noc-sm ml-2">
              <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
            </button>
          </div>
        </mat-option>
        }

      </div>
      <!-- <div class="scard-more-info">
        <noc-term-detail *ngIf="termData" [termData]="termData"></noc-term-detail>
      </div> -->
    </mat-autocomplete>
  </mat-form-field>
</div>
<div class="basis-[65%] flex flex-col justify-start items-stretch">
  @for (evidence of entityFormGroup.get('evidenceFormArray')?.controls; track evidence; let i = $index) {
  <div formArrayName="evidenceFormArray">
    <div [formGroupName]="i" class="flex flex-row justify-start items-stretch w-full">
      <div class="p-4 w-1/2">
        <mat-form-field appearance="outline" class="noc-sm w-full">
          <mat-label>Evidence</mat-label>
          <textarea type="text" matInput formControlName="evidence" (focus)="updateEvidenceList(entity)"
            [matAutocomplete]="evidenceAuto" rows="2"></textarea>
          <mat-autocomplete #evidenceAuto="matAutocomplete" [displayWith]="evidenceDisplayFn"
            class="noc-term-autocomplete">
            @for (item of entity?.predicate?.evidenceLookup.results; track item) {
            <mat-option [value]="item">
              <div class="w-full flex flex-row justify-start items-center">
                <div class="noc-term-label">
                  {{ item.label }}
                </div>
                <span class="grow"></span>
                <div class="noc-term-id mr-2">
                  <strong>
                    {{ item.xref }}
                  </strong>
                </div>
                <div class="noc-term-id">
                  @if (item.link) {
                  <a (click)="$event.stopPropagation()" href="{{item.link}}" target="_blank">
                    {{ item.id }}
                  </a>
                  }
                  @if (!item.link) {
                  <span>
                    {{ item.id }}
                  </span>
                  }
                </div>
              </div>
            </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="p-4 w-1/4">
        <mat-form-field appearance="outline" class="noc-sm w-full">
          <mat-label>Reference</mat-label>
          <textarea matInput formControlName="reference" [matAutocomplete]="referenceAuto" rows="2" autocomplete="off"
            (focus)="updateReferenceList()"></textarea>
          <button mat-icon-button matSuffix (click)="openAddReference($event, evidence, 'reference')"
            class="noc-evidence-db-trigger">
            <fa-icon [icon]="['fas', 'plus-square']"></fa-icon>
          </button>
          <mat-autocomplete #referenceAuto="matAutocomplete" class="noc-term-autocomplete">
            @for (item of entity?.predicate?.referenceLookup.results; track item) {
            <mat-option [value]="item">
              <div class="w-full flex flex-row justify-start items-center">
                <div class="noc-term-label">
                  {{ item }}
                </div>
              </div>
            </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="p-4 w-1/4">
        <mat-form-field appearance="outline" class="noc-sm w-full">
          <mat-label>With</mat-label>
          <textarea matInput formControlName="with" [matAutocomplete]="withAuto" rows="2" (focus)="updateWithList()"
            autocomplete="off"></textarea>
          <button mat-icon-button matSuffix (click)="openAddWith($event, evidence, 'with')"
            class="noc-evidence-db-trigger">
            <fa-icon [icon]="['fas', 'plus-square']"></fa-icon>
          </button>
          <mat-autocomplete #withAuto="matAutocomplete" class="noc-term-autocomplete">
            @for (item of entity?.predicate?.withLookup.results; track item) {
            <mat-option [value]="item">
              <div class="w-full flex flex-row justify-start items-center">
                <div class="noc-term-label">
                  {{ item }}
                </div>
              </div>
            </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <span class="grow"></span>
      @if (displayMenuButton) {
      <button mat-icon-button class="noc-action-button w-10" [matMenuTriggerFor]="entityMenu">
        <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
      </button>
      }
      <mat-menu #entityMenu="matMenu" class="noc-dropdown-menu noc-menu-panel">
        @if (entity.aspect) {
        <button mat-menu-item class="" (click)="openSearchDatabaseDialog(entity)">
          Search Annotations
        </button>
        }
        @if (true) {
        <button mat-menu-item class="" (click)="toggleIsComplement(entity)">
          NOT Qualifier
        </button>
        }
        @if (entity.insertMenuNodes?.length>0) {
        <button mat-menu-item [matMenuTriggerFor]="addMenu">
          Add
        </button>
        }
        <button mat-menu-item [matMenuTriggerFor]="evidenceMenu">Evidence</button>
        @if (entity.aspect) {
        <button mat-menu-item class="" (click)="addRootTerm()">
          Fill with root term
        </button>
        }
        @if (entity.aspect) {
        <button mat-menu-item class="" (click)="addEvidenceISS()">
          Add ISS Evidence
        </button>
        }
        <button mat-menu-item class="" (click)="clearValues()">
          Clear Values
        </button>
        <!--    <button mat-menu-item class="" (click)="removeNode()">
        Remove
      </button> -->
      </mat-menu>
      <mat-menu #addMenu="matMenu" class="noc-extensions-menu-panel">
        @for (insertMenuItem of entity.insertMenuNodes; track insertMenuItem) {
        <button mat-menu-item class="flex flex-col justify-start items-start w-full"
          (click)="insertEntityShex(insertMenuItem)">
          {{insertMenuItem?.label}}
          <div class="noc-terms-description">
            {{insertMenuItem?.rangeLabel}}
          </div>
        </button>
        }
      </mat-menu>
      <mat-menu #evidenceMenu="matMenu" class="noc-menu-panel">
        <button mat-menu-item class="" (click)="addEvidence()">
          Add Evidence
        </button>
        <button (click)="removeEvidence(i)" mat-menu-item>
          Remove Evidence
        </button>
        <button mat-menu-item class="" (click)="openSelectEvidenceDialog()">
          Clone Evidence
        </button>
      </mat-menu>
    </div>
  </div>
  }
</div>

@if (displayAddButton) {
<button mat-icon-button class="noc-action-button w-10" [matMenuTriggerFor]="ccOnlyAddMenu">
  <fa-icon [icon]="['fas', 'plus']"></fa-icon>
</button>
}
<mat-menu #ccOnlyAddMenu="matMenu" class="noc-extensions-menu-panel">
  @for (insertMenuItem of entity.insertMenuNodes; track insertMenuItem) {
  <button mat-menu-item class="flex flex-col justify-start items-start w-full"
    (click)="insertEntityShex(insertMenuItem)">
    {{insertMenuItem?.label}}
    <div class="noc-terms-description">
      {{insertMenuItem?.rangeLabel}}
    </div>
  </button>
  }
</mat-menu>
</div>
