.noc-loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99997;
  background-color: rgba(#eee, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: wait;

  .noc-loading-overlay-message {
    color: #3b5998;
    font-weight: 500;
    font-size: 14px;
  }
}
