@use "@angular/material" as mat;
@use 'sass:map';
@use "@noctua/scss/noctua" as *;
@use "@noctua.common/scss/noctua.common";

$primary: map.get($theme, primary);

:host {
  width: 100%;
  background-color: white;
  @include mat.elevation(4);

  .noc-drawer-body {
    min-height: calc(100% - 80px);
    padding-bottom: 150px;
  }

  .noc-radio-button-rounded {
    min-width: 110px;
  }

  .noc-connector-form {
    width: 100%;
    background-color: #fff;
  }

  .noc-form-section {
    .noc-group-row {
      padding: 10px 0;
      border-bottom: rgba(map.get($primary, default), 0.6) solid 1px;
      color: #000;
      font-size: 12px;
    }

    .noc-radio-row {
      width: 100%;
      padding: 5px;

      &:not(:last-child) {
        border-bottom: rgba(map.get($primary, default), 0.6) solid 1px;
      }
    }

    .noc-title {
      @include deep-width(100px);
    }

    .noc-label {
      @include deep-width(170px);
    }

    .noc-hint {
      margin-left: 12px;
      font-size: 12px;
      max-width: 300px;
      color: #676767;
      font-style: italic;

      &.noc-sm {
        max-width: 260px;
      }
    }
  }

  .noc-note {
    padding: 20px 0;

    .noc-description {
      padding-left: 10px;
      font-size: 12px;
    }

    &.noc-note-disabled {
      mat-icon {
        color: #ccc;
      }
      color: #bbb;
    }
  }
}
