@import "@noctua/scss/noctua";
@import "@noctua.common/scss/noctua.common";
$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  @include media-breakpoint("xs") {
    width: 100%;
  }

  @include media-breakpoint-up("sm") {
    width: 600px;
  }

  .mat-mdc-dialog-container {
    padding: 0;
  }
}
