<div class="flex flex-col justify-start items-stretch noc-drawer w-full h-full">
  <div class="noc-drawer-header flex flex-row justify-start items-center">
    <span class="noc-drawer-header-title">
    </span>
    <span class="grow"></span>
    <button mat-icon-button class="w-10" color="primary" [matMenuTriggerFor]="activityOptionMenu">
      <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
    </button>
    <mat-menu #activityOptionMenu="matMenu" class="noc-dropdown-menu">
      <button mat-menu-item color="warn" class="" (click)="deleteActivity(activity)">
        Delete
      </button>
    </mat-menu>
    <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" color="primary"
      aria-label="Close dialog">
      <fa-icon [icon]="['fas', 'times']"></fa-icon> Close
    </button>
  </div>
  <div class="noc-drawer-body overflow-y-auto flex flex-col justify-start items-start">
    @if (activity) {
    <noc-activity-form-table [options]="options" [cam]="cam" [activity]="activity" class="noc-activities-table-body flex flex-row justify-start items-center">
    </noc-activity-form-table>
    }
  </div>
</div>
