<form [formGroup]="myForm" novalidate class="pl-8 pr-8 w-100-p" fxLayout="column" fxLayoutAlign="start stretch">
  <div formArrayName="databaseGroups" class="noc-form-section w-100-p overflow-y-auto" fxLayout="column"
    fxLayoutAlign="start stretch">

    @for (group of myForm.get('databaseGroups')?.controls; track group; let i = $index) {
    <div class="noc-with-group mb-16 px-12">
      <div [formGroupName]="i">
        <div class="mb-8" fxLayout="row" fxLayoutAlign="start center">
          <strong class="mr-8">With/From Group</strong>
          <button mat-icon-button (click)="deleteGroup(i)" matTooltip="Delete Group">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
        <div formArrayName="entities">
          @for (entity of group.get('entities').controls; track entity; let j = $index) {
          <div class="mb-8" fxLayout="row" fxLayoutAlign="start center">
            <div [formGroupName]="j" fxLayout="row" fxLayoutAlign="start center" fxFlex="">
              <mat-form-field appearance="outline" fxFlex="120px" class="noc-sm mr-12">
                <mat-select formControlName="db" placeholder="Database">
                  @for (db of dbOptions; track db) {
                  <mat-option [value]="db">
                    {{db}}
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="" class="noc-sm">
                <input matInput formControlName="accession" type="text" placeholder="Accession" autocomplete="off">
              </mat-form-field>
            </div>
            <button mat-icon-button (click)="addNewEntity(group.get('entities'), null, null)" matTooltip="Add Entity">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteEntity(group.get('entities'), j)" matTooltip="Delete Entity">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </div>
          }
          @if (group.get('entities').controls.length === 0) {
          <div class="p-16">
            <a (click)="addNewEntity(group.get('entities'), null, null)">
              Add With/From
            </a>
          </div>
          }
        </div>
      </div>
    </div>
    }
    <button mat-button (click)="addNewGroup()">Add Group</button>

    <!--   <pre>{{myForm.value | json}}</pre> -->
  </div>
  <div class="w-100-p" fxLayout="row" fxLayoutAlign="end center">
    <button mat-icon-button (click)="close()">
      Cancel
    </button>
    <button mat-icon-button color="primary" (click)="save()">
      Ok
    </button>
  </div>
</form>