@use "@angular/material" as mat;
@import "@noctua/scss/noctua";
@import "@noctua.common/scss/noctua.common";

:host {
  padding-top: 8px;
  width: 100%;
  @include deep-width(450px);
  @include mat.elevation(4);
  background-color: #fbf9de;

  .noc-form-section {
    max-height: 500px;

    .noc-with-group {
      border: #74725c solid 1px;
    }
  }
}
