<div class="w-full flex flex-col justify-start items-stretch">
  <mat-toolbar class="pl-1 pr-[10px] py-0 bg-white relative flex flex-row justify-start items-center"
    [ngClass]="{'noc-dev': isDev, 'noc-beta': isBeta }">
    @if (showLoadingBar) {
    <mat-progress-bar class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>
    }

    <div class="noc-logo py-1 px-0 h-full flex flex-row justify-start items-center w-[180px]">

      @if (!isBeta && !isDev) {
      <a class="noc-main-logo text-xl text-left mr-1" href="{{noctuaConfigService.noctuaUrl}}" target="_blank">
        Noctua
      </a>
      <a class="noc-sub-logo text-xl text-left" href="{{noctuaConfigService.homeUrl}}" target=" _blank">
        Visual Pathway Editor
      </a>
      }
      @if (isDev || isBeta) {
      <div class="noc-beta-logo deep-h-full flex flex-col justify-center items-start">
        <div class="noc-title text-xl font-bold">
          <a class="" href="{{noctuaConfigService.noctuaUrl}}" target="_blank">
            Noctua
          </a>
          <a class="" href="{{noctuaConfigService.homeUrl}}" target="_blank">
            Visual Pathway Editor
          </a>
          ({{betaText}})
        </div>
        <div class="noc-description text-[10px]">
          Testing Version. Visit <a class="" href="http://noctua.geneontology.org/" target="_blank">
            Noctua
          </a> for production version
        </div>
      </div>
      }
    </div>
    <div class="flex flex-row justify-end items-center grow">
      <div class="border-r border-[#BBB] pr-3 flex flex-row justify-start items-center">
        <a mat-icon-button href="https://github.com/geneontology/go-ontology/issues" target="blank">
          <fa-icon [icon]="['fab', 'github']"></fa-icon>
        </a>
      </div>
      <div class="border-r border-[#BBB] pl-3 pr-3 flex flex-row justify-start items-center">

        <a mat-button class="" [matMenuTriggerFor]="helpMenu">
          Help
        </a>
        <mat-menu #helpMenu="matMenu">
          <a href="https://docs.google.com/document/d/1a5YZBJrnJ9LKJxPVpXk62dJJGpHB2b9zH8-xr_Rm1Vs" target="_blank"
            mat-menu-item>
            Noctua User's Guide
          </a>
        </mat-menu>
      </div>
      <div class="border-r border-[#BBB] pr-3 flex flex-row justify-start items-center">
        @if (noctuaUserService.user) {
        <button mat-button class="noc-name-button text-left normal-case text-xs" [matMenuTriggerFor]="userMenu">
          <div class="flex flex-row justify-start items-center">
            <div class="noc-info mr-[5px] max-w-[150px] overflow-hidden flex flex-col justify-start items-start">
              <div class="noc-name truncate">
                {{noctuaUserService.user.name}}
              </div>
              <div class="noc-group-name text-[10px] truncate">
                {{noctuaUserService.user?.group?.label}}
              </div>
            </div>
            <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
          </div>
        </button>
        }
        <mat-menu #userMenu="matMenu" class="">
          <a mat-button (click)="logout()" class="red-500-fg w-full">
            Logout
          </a>
        </mat-menu>
        @if (!noctuaUserService.user) {
        <div>
          <a mat-button href="{{noctuaConfigService.loginUrl}}" class="noc-login-button">
            Login
          </a>
        </div>
        }
      </div>
    </div>
    <div class="border-r border-[#BBB] h-full flex flex-row justify-start items-center w-[200px]">
      <div class="noc-logo py-1 pl-2 flex flex-row justify-start">
        <a href="http://geneontology.org/" target="_blank">
          <img src="assets/images/logos/go-logo.large.png">
        </a>
      </div>
    </div>
    <div class="border-l border-[#BBB] noc-logo py-1 flex flex-row justify-start">
      <a href="https://www.alliancegenome.org" target="_blank">
        <img src="assets/images/logos/alliance-logo.png">
      </a>
    </div>
  </mat-toolbar>
</div>