@import "@noctua/scss/noctua";

:host {
  position: relative;
  display: flex;
  flex: 0 0 auto;
  z-index: 4;
  border-bottom: 2px solid $noc-primary-color;

  .mat-toolbar {
    @include deep-height(50px);

    &.noc-dev {
      background-color: #fad38a;
    }

    &.noc-beta {
      background-color: #fdcbbc;
    }

    .noc-beta-logo {
      line-height: 20px;

      .noc-title a {
        text-decoration: none;
        color: #555;
      }

      .noc-description {
        font-style: italic;
      }
    }

    .loading-bar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
    }
  }

  .noc-name-button {
    @include deep-height(40px);
    line-height: 20px;

    .noc-group-name {
      color: #888;
    }
  }

  .noc-logo {
    img {
      height: 40px;
    }

    .noc-main-logo,
    .noc-sub-logo {
      cursor: pointer;
      text-decoration: none !important;
      color: #555;

      &:hover {
        color: #000;
      }
    }

    .noc-main-logo {
      font-weight: bold;
    }

    .noc-sub-logo {
      font-weight: normal;
    }
  }

  .noc-login-button {
    background-color: #52a16c;
    color: #fff;
  }
}
