@use "@noctua/scss/noctua" as *;

#noctua-main {
  > .mat-sidenav-container {
    display: flex;
    flex: 1;
    overflow: auto;

    > .mat-sidenav-content,
    > .mat-drawer-content {
      display: flex;
      flex: 1;
      overflow: hidden;
      height: 100vh;

      @include media-breakpoint-down("sm") {
        height: auto !important;
      }

      noctua-content {
        > *:not(router-outlet):not(.ps__scrollbar-x-rail):not(
            .ps__scrollbar-y-rail
          ) {
          display: flex;
          flex: 1;
          width: 100%;
          min-width: 100%;
        }

        > *.ng-animating {
          .mat-mdc-tab-body {
            height: 100vh;
          }
        }
      }
    }
  }
}
