<div class="dialog-content-wrapper">
  <mat-toolbar class="mat-primary m-0">
    <mat-toolbar-row class="grow flex flex-row justify-start items-center">
      <span class="title dialog-title">
        Add Evidence</span>
      <span class="grow"></span>
      <button mat-icon-button (click)="close()" aria-label="Close dialog">
        <fa-icon [icon]="['fas', 'times']"></fa-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div mat-dialog-content class="noc-dialog-body overflow-y-auto">
    <div class="flex flex-col justify-start items-center w-full">

    </div>
  </div>
  <div mat-dialog-actions class="m-0 p-4 flex flex-row justify-between items-center">
    <span class="grow"></span>
    <button (click)='close()' type="button" mat-raised-button color="" class="mr-2">Cancel</button>
    <button type="button" mat-raised-button color="primary">Save</button>
  </div>
</div>
