<div id="noctua-main" class="flex flex-col w-full h-full">
  <mat-sidenav-container>
    <div id="noctua-main-content" class="flex flex-1 flex-col overflow-hidden">
      <ng-container>
        <noctua-toolbar class="above"></noctua-toolbar>
      </ng-container>
      <div id="wrapper" class="flex relative flex-1 overflow-hidden">
        <div class="content-wrapper flex flex-col flex-1 overflow-hidden">
          <noctua-content class="relative flex flex-1 flex-row w-full overflow-hidden"></noctua-content>
        </div>
      </div>
    </div>
  </mat-sidenav-container>
</div>