<div class="dialog-content-wrapper noc-dialog">
  <div class="noc-dialog-header flex flex-row justify-start items-center">
    <span class="noc-dialog-header-title">
      Edit Title & Confirm Copy</span>
    <span class="grow"></span>
    <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" aria-label="Close dialog">
      <fa-icon [icon]="['fas', 'times']"></fa-icon> Close
    </button>
  </div>
  <div class="noc-dialog-body pt-5">
    <div class="flex flex-row justify-start items-center noc-form-section w-full">
      <ng-container [formGroup]="camForm">
        <div class="noc-edit-field p-4 grow">
          <mat-form-field appearance="outline" class="noc-sm w-full">
            <mat-label>Title</mat-label>
            <textarea type="text" matInput formControlName="title" rows="2"></textarea>
          </mat-form-field>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="noc-dialog-footer flex flex-row justify-between items-center">
    <span class="grow"></span>
    <button (click)='close()' type="button" mat-raised-button color="" class="mr-2">Cancel</button>
    <button (click)='save()' type="button" mat-raised-button color="primary">Save</button>
  </div>
</div>
