@use "@angular/material" as mat;
@import "@noctua/scss/noctua";
@import "@noctua.common/scss/noctua.common";

:host {
  background-color: white;
  @include mat.elevation(4);

  .noc-cam-form {
    width: 350px;
    min-width: 350px;
    max-width: 350px;
  }

  .noc-item {
    width: 100%;
    font-size: 12px;

    .noc-title {
      font-weight: bold;
      margin-right: 8px;
      color: #999;
    }
  }
}
