<div class="h-full">
  <div class="flex flex-col justify-start items-stretch noc-drawer w-full h-full">
    <div class="noc-drawer-header flex flex-row justify-start items-center">
      <div class="noc-drawer-header-title">
        Copy Model
      </div>
      <span class="grow"></span>
      <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" color="primary"
        aria-label="Close dialog">
        Close
      </button>
    </div>
    @if (!noctuaUserService.user) {
    <div class="noc-draw-body-disabled flex justify-center items-center">
      Log in to Continue
    </div>
    }
    <div class="noc-drawer-body w-full overflow-y-auto">
      <div class="noc-form-section flex flex-col justify-start items-stretch">
        <div class="noc-section-header flex flex-row justify-start items-center">
          <div class="noc-section-heading">
            Model Information
          </div>
          <span class="grow"></span>
        </div>
      </div>
      <div class="noc-form-section mb-5 flex flex-col justify-start items-stretch">
        <div class="noc-section-body p-2 flex flex-col justify-start items-stretch">
          <div class="noc-item-body w-full flex flex-row justify-start items-center">
            <div class="w-full h-full flex flex-col justify-start items-start">
              <div class="noc-item flex flex-row flex-wrap justify-start items-center">
                <div class="noc-title">ID:</div> {{cam.id}}
              </div>
              <div class="noc-item flex flex-row flex-wrap justify-start items-center">
                <div class="noc-title">Title:</div> {{cam.title}}
              </div>
              <div class="noc-item flex flex-row justify-start items-center">
                <div class="noc-title">State:</div> {{cam.state?.label}}
              </div>
              <div class="w-full">
                <div class="noc-item flex flex-row flex-wrap justify-start items-center">
                  <div class="noc-title">Contributors:</div>
                  @for (contributor of cam.contributors; track contributor) {
                  <div class="mr-2" matTooltip="{{contributor.name}}" [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="1000">
                    {{contributor.name ? contributor.name :contributor.orcid}};
                  </div>
                  }
                </div>
                <div class="noc-item flex flex-row flex-wrap justify-start items-center">
                  <div class="noc-title">Groups:</div>
                  @for (group of cam.groups; track group) {
                  <span class="" matTooltip="{{group.name}}" [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="1000">
                    <div class="noc-chip-label">
                      {{group.name ? group.name :group.url}}
                    </div>
                  </span>
                  }
                </div>
                <div class="noc-item flex flex-row justify-start items-center">
                  <div class="noc-title">Open In:</div>
                  <a class="mr-4" [href]='cam.model?.modelInfo?.noctuaVPEUrl' target="_blank">
                    Pathway Editor
                  </a>
                  <span>&#8226;</span>
                  <a class="ml-4 mr-4" [href]='cam.model?.modelInfo?.noctuaFormUrl' target="_blank">
                    Form Editor
                  </a>
                  <span>&#8226;</span>
                  <a class="ml-4" [href]='cam.model?.modelInfo?.graphEditorUrl' target="_blank">
                    Graph Editor
                  </a>
                </div>
              </div>

              <div>
                <mat-checkbox class="example-margin" [(ngModel)]="includeEvidence">Include Evidence</mat-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="noc-form-section flex flex-col justify-start items-stretch">
        <div class="noc-section-header flex flex-row justify-start items-center">
          <div class="noc-section-heading">
            Duplicated Model Information
          </div>
          <span class="grow"></span>
        </div>
        <div class="noc-section-body p-2 flex flex-col justify-start items-stretch">
          @if (!duplicatedCam) {
          <div class="noc-item noc-no-info flex flex-row justify-start items-center">
            No info yet
          </div>
          }
          @if (loading) {
          <div class="noc-item noc-no-info flex flex-row justify-start items-center">
            Working on it ...
          </div>
          }
          @if (duplicatedCam) {
          <div class="noc-item-body w-full flex flex-row justify-start items-center">
            <div class="w-full h-full flex flex-col justify-start items-start">
              <div class="noc-item flex flex-row flex-wrap justify-start items-center">
                <div class="noc-title">ID:</div> {{duplicatedCam.id}}
              </div>
              <div class="noc-item flex flex-row flex-wrap justify-start items-center">
                <div class="noc-title">Title:</div> {{duplicatedCam.title}}
              </div>
              <div class="noc-item flex flex-row justify-start items-center">
                <div class="noc-title">State:</div> {{duplicatedCam.state?.label}}
              </div>
              <div class="w-full">
                <div class="noc-item flex flex-row flex-wrap justify-start items-center">
                  <div class="noc-title">Contributors:</div>
                  @for (contributor of duplicatedCam.contributors; track contributor) {
                  <div class="mr-2" matTooltip="{{contributor.name}}" [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="1000">
                    {{contributor.name ? contributor.name :contributor.orcid}};
                  </div>
                  }
                </div>
                <div class="noc-item flex flex-row flex-wrap justify-start items-center">
                  <div class="noc-title">Groups:</div>
                  @for (group of duplicatedCam.groups; track group) {
                  <span class="" matTooltip="{{group.name}}" [matTooltipPosition]="'below'"
                    [matTooltipShowDelay]="1000">
                    <div class="noc-chip-label">
                      {{group.name ? group.name :group.url}}
                    </div>
                  </span>
                  }
                </div>
                <div class="noc-item flex flex-row justify-start items-center">
                  <div class="noc-title">Open In:</div>
                  <a class="mr-4" [href]='duplicatedCam.model?.modelInfo?.noctuaVPEUrl' target="_blank">
                    Pathway Editor
                  </a>
                  <span>&#8226;</span>
                  <a class="ml-4 mr-4" [href]='duplicatedCam.model?.modelInfo?.noctuaFormUrl' target="_blank">
                    Form Editor
                  </a>
                  <span>&#8226;</span>
                  <a class="ml-4" [href]='duplicatedCam.model?.modelInfo?.graphEditorUrl' target="_blank">
                    Graph Editor
                  </a>
                </div>
              </div>
            </div>
          </div>
          }
        </div>
      </div>
    </div>

    <div class="flex flex-row justify-start items-center noc-drawer-footer noc-submit-row">
      <span class="grow"></span>
      <button (click)="close()" type="button" mat-raised-button color="" class="mr-2">Cancel</button>
      <button (click)="copyModel()" type="submit" class="noc-rounded-button" mat-raised-button color="primary">Copy
        Model</button>
    </div>
  </div>
</div>
