<div class="h-100-p">
  <form name="activityFormGroup" [formGroup]="activityFormGroup" fxLayout="column" fxLayoutAlign="start stretch"
    class="noc-drawer w-100-p h-100-p">
    <div class="resize-handle-right" mwlResizeHandle [resizeEdges]="{ right: true }"></div>
    <div class="noc-drawer-header" fxLayout="row" fxLayoutAlign="start center">
      <div class="noc-drawer-header-title">
        @switch (noctuaActivityFormService.activity.activityType) {
        @case (ActivityType.default) {
        <span>
          Activity Unit Form
        </span>
        }
        @case (ActivityType.bpOnly) {
        <span>
          BP Annotation Form
        </span>
        }
        @case (ActivityType.ccOnly) {
        <span>
          CC Annotation Form
        </span>
        }
        @case (ActivityType.molecule) {
        <span>
          Chemical Form
        </span>
        }
        @case (ActivityType.proteinComplex) {
        <span>
          Protein Complex Form
        </span>
        }
        }
      </div>
      <span fxFlex></span>
      <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" color="primary"
        aria-label="Close dialog">
        <mat-icon>close</mat-icon> Close
      </button>
    </div>
    <div class="noc-drawer-body noc-activity-form" noctuaPerfectScrollbar>
      @if (!noctuaUserService.user) {
      <div class="noc-draw-body-disabled" fxLayoutAlign="center center">
        Log in to Continue
      </div>
      }
      <div class="noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">

        @if (noctuaActivityFormService.activity.activityType===ActivityType.proteinComplex) {
        <div class="alert alert-warning w-100-p mb-0">
          Note that this should be used rarely, and only in the case where the activity cannot be ascribed to a single
          subunit of a complex
        </div>
        }

        <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
          <div class="noc-section-heading">
            {{annotatedSectionTitle }}
          </div>
          <span fxFlex></span>
          <button mat-icon-button (click)="createExample()">
            .
          </button>
        </div>
        <div class="noc-section-body p-0" fxLayout="column" fxLayoutAlign="start stretch">
          @for (nodeGroup of activityFormGroup.get('gp')?.controls; track nodeGroup; let i = $index) {
          <div [formArrayName]="'gp'"
            class="mat-elevation-z1 noc-term-group mb-4 px-8 pt-4  {{nodeGroup.get('name').value}}">
            @for (entityForm of nodeGroup.get('entityGroup')?.controls; track entityForm) {
            <div [formGroupName]="i" class="">
              <noc-entity-form [entityFormGroup]="entityForm" [displayAddButton]="true" [displayMenuButton]="false"
                fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              </noc-entity-form>
            </div>
            }
          </div>
          }
        </div>
      </div>
      <div class="noc-form-section" fxLayout="column" fxLayoutAlign="start stretch">
        <div class="noc-section-header" fxLayout="row" fxLayoutAlign="start center">
          <div class="noc-section-heading">
            {{descriptionSectionTitle}}
          </div>
          <span fxFlex></span>
        </div>
        <div class="noc-section-body p-0" fxLayout="column" fxLayoutAlign="start stretch">
          @if (noctuaActivityFormService.activity.activityType===ActivityType.bpOnly) {
          <div class="mat-elevation-z1 noc-term-group mb-4 px-8 mf" fxLayout="row" fxLayoutAlign="start center">
            <div class="p-4" fxFlex fxLayout="row" fxLayoutAlign="start stretch">
              <mat-form-field class="noc-sm w-100-p" appearance="outline">
                <mat-label><strong>(readonly)</strong> Molecular Function </mat-label>
                <input [readonly]="true" type="text" matInput value="molecular_function (GO:0003674)" />
              </mat-form-field>
            </div>
            <div class="p-4" fxFlex="600px" fxLayout="row" fxLayoutAlign="start stretch">
              <mat-form-field appearance="outline" class="noc-sm w-100-p">
                <mat-label>Choose Causal Relation</mat-label>
                <mat-select placeholder="" formControlName="bpOnlyEdge">
                  @for (bpOnlyEdge of noctuaFormConfigService.bpOnlyEdges.options; track bpOnlyEdge) {
                  <mat-option [value]="bpOnlyEdge">
                    {{bpOnlyEdge.label}}
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          }
          @for (nodeGroup of activityFormGroup.get('fd')?.controls; track nodeGroup; let i = $index) {
          <div [formArrayName]="'fd'" class="mat-elevation-z1 noc-term-group mb-4 px-8 {{nodeGroup.get('name').value}}"
            fxLayout="row" fxLayoutAlign="start stretch">
            @if (nodeGroup.get('isComplement')?.value) {
            <div class="noc-group-side-heading" fxLayout="column" fxLayoutAlign="center center">
              <div>IS NOT</div>
            </div>
            }
            <div class="w-100-p">
              @for (entityForm of nodeGroup.get('entityGroup')?.controls; track entityForm) {
              <ng-container [formGroupName]="i">
                <noc-entity-form [entityFormGroup]="entityForm" class="">
                </noc-entity-form>
              </ng-container>
              }
            </div>
          </div>
          }
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" class="noc-drawer-footer noc-submit-row">
      @if (noctuaActivityFormService.activity.submitErrors.length>0) {
      <button (click)='checkErrors()' mat-button color="warn" class="noc-rounded-button noc-sm">
        Why is the "Save" button disabled?
      </button>
      }
      <span fxFlex></span>
      <button (click)='clear()' type="button" mat-raised-button color="" class="mr-8">Clear</button>
      <button [disabled]="noctuaActivityFormService.activity.submitErrors.length>0" (click)="save()" type="submit"
        class="" mat-raised-button color="primary">Save</button>
    </div>
  </form>
</div>