@import "@noctua/scss/noctua";
@import "@noctua.common/scss/noctua.common";

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);

:host {
  .footer {
    background: #1a237e;
    background: linear-gradient(to right, #0e2a3b 0%, #34306b 100%);
    padding: 20px;
    color: #fff;
  }
}
