@use 'sass:map';
@use "@noctua/scss/noctua" as *;
@use "@noctua.common/scss/noctua.common";

$primary: map.get($theme, primary);
$accent: map.get($theme, accent);

:host {
  .footer {
    background: linear-gradient(to right, #0e2a3b 0%, #34306b 100%);
  }
}
