<div class="dialog-content-wrapper noc-dialog flex flex-col justify-start items-stretch">
  <div class="m-0 noc-dialog-header flex flex-row justify-start items-center">
    <span class="noc-dialog-header-title">{{ dialogTitle }}</span>
    <span class="grow"></span>
    <button mat-stroked-button (click)="close()" class="noc-rounded-button noc-sm" aria-label="Close dialog">
      <fa-icon [icon]="['fas', 'times']"></fa-icon> Close
    </button>
  </div>
  <div class="flex flex-col justify-start items-start noc-dialog-body">
    <p class="p-2">The following database prefixes are allowed:</p>
    <ul class="w-full max-h-[400px] overflow-y-auto flex flex-col justify-start items-start">
      @for (db of allowedDatabases; track db) {
      <li class="w-full rounded p-2">
        <span class="font-medium text-sm">{{ db }}</span>
      </li>
      }
    </ul>
  </div>
  <div mat-dialog-actions class="m-0 p-4 noc-dialog-footer flex flex-row justify-end items-center">
    <button (click)='close()' type="button" mat-raised-button color="primary">Close</button>
  </div>
</div>
