@use "@angular/material" as mat;
@use "@noctua/scss/noctua" as *;
@use "@noctua.common/scss/noctua.common";

:host {
  background-color: white;
  @include mat.elevation(4);

  .noc-cam-form {
    @include deep-width(350px);
  }

  .noc-item {
    @include deep-width(100%);
    font-size: 12px;

    .noc-title {
      font-weight: bold;
      margin-right: 8px;
      color: #999;
    }
  }
}
