@use 'sass:map';
@import "@noctua/scss/noctua";
@import "@noctua.common/scss/noctua.common";
@import "@noctua.common/scss/noctua-form.common";

$primary: map.get($theme, primary);

:host {
  width: 100%;

  .noc-tree-node {
    font-size: 12px;
    color: #000;

    .noc-node-expander-button {
      @include deep-width(20px);
      @include deep-height(20px);
      line-height: 14px;
      background-color: #ffffff;
    }

    .noc-expander-placeholder {
      @include deep-width(20px);
      @include deep-height(20px);
    }

    &:hover {
      background-color: rgba(#000000, 0.1);
    }
  }

  .noc-tree-container {
    position: relative;
    padding: 12px 8px 8px 8px;

    .noc-tree {
      @include deep-width(100%);
      @include deep-height(100%);

      .node-content-wrapper {
        padding: 0 !important;
      }
    }

    &.noc-selected {
      background-color: rgba($noc-highlight-model-color, 0.3);
    }
  }
}
