@if (cam) {
<div class="noc-cam-heading" fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="start center">
  @if (cam.title) {
  <div class="noc-title" fxLayout="row" fxLayoutAlign="start center">
    <div class="text-truncate pr-8" matTooltip="{{cam.title}}" [matTooltipPosition]="'above'"
      [matTooltipShowDelay]="2000">
      <strong>Title: </strong>{{cam.title }}
    </div>
    <div class="noc-icon-action" (click)="openCamForm()">
      <fa-icon [icon]="['fas', 'pen']"></fa-icon>
    </div>
  </div>
  }
  <div class="noc-br noc-bl px-4">
    <button mat-icon-button class="noc-toolbar-button noc-rounded-button" (click)="openCamForm()"
      matTooltip="{{cam?.comments}}" [matTooltipPosition]="'after'" [matTooltipShowDelay]="1000">
      <fa-icon [icon]="['fas', 'comment']"></fa-icon>
      <div class="noc-comments-badge">
        {{cam?.comments.length}}
      </div>
    </button>
  </div>
  <div class="noc-br px-4">
    <button mat-icon-button color="" class="noc-toolbar-button noc-rounded-button" (click)="openCopyModel()"
      matTooltip="Make a copy of this model" [matTooltipPosition]="'after'" [matTooltipShowDelay]="1500">
      <fa-icon [icon]="['fas', 'clone']"></fa-icon>
    </button>
  </div>
  @if (cam.state) {
  <div class="noc-model-state" fxLayout="row" fxLayoutAlign="start center">
    <mat-chip class="noc-table-chip noc-state-chip" [ngClass]="{'noc-development': cam.state.name === 'development',
        'noc-production': cam.state.name === 'production',
        'noc-review': cam.state.name === 'review'}" fxLayout="row" fxLayoutAlign="start center">
      <div class="noc-icon">
        <fa-icon [icon]="['fas', 'tasks']"></fa-icon>
      </div>
      <div fxFlex="" class="noc-chip-label">
        {{cam.state.label}}
      </div>
      <div class="noc-icon-action" (click)="openCamForm()">
        <fa-icon [icon]="['fas', 'pen']"></fa-icon>
      </div>
    </mat-chip>
  </div>
  }
  @if (cam.date) {
  <div class="noc-date noc-br mr-8" fxFlex="100px" fxLayout="row" fxLayoutAlign="start center">
    <mat-chip class="noc-table-chip noc-date-chip" fxLayout="row" fxLayoutAlign="start center" (click)="openCamForm()">
      <div class="noc-icon">
        <fa-icon [icon]="['fas', 'calendar-day']"></fa-icon>
      </div>
      <div fxFlex="" class="noc-chip-label">
        {{cam.date}}
      </div>
    </mat-chip>
  </div>
  }
  <div fxFlex="" fxLayout="row" fxLayoutAlign="start center">
    <mat-chip-list>
      @for (contributor of cam.contributors; track contributor) {
      <mat-chip class="noc-table-chip noc-user-chip" fxLayout="row" fxLayoutAlign="start center"
        (click)="openCamForm()">
        <div class="noc-icon">
          <fa-icon [icon]="['fas', 'user']"></fa-icon>
        </div>
        <div fxFlex="" class="noc-chip-label">
          {{contributor.name}}
        </div>
      </mat-chip>
      }
    </mat-chip-list>
  </div>
  <div fxFlex="180px" fxLayout="row" fxLayoutAlign="end center">
    <button mat-stroked-button [matMenuTriggerFor]="viewMenu" class="noc-edit-button noc-rounded-button noc-sm mr-4"
      color="primary">
      VIEW IN
    </button>
    <mat-menu #viewMenu="matMenu">
      <a [href]='cam?.model?.modelInfo?.annotationPreviewUrl' target="_blank" mat-menu-item>
        Annotation Preview
      </a>
      <a [href]='cam?.model?.modelInfo?.pathwayViewerUrl' target="_blank" mat-menu-item>
        Pathway Viewer
      </a>
      <a [href]='cam?.model?.modelInfo?.graphEditorUrl' target="_blank" mat-menu-item>
        Graph Editor
      </a>
    </mat-menu>
    <button mat-stroked-button [matMenuTriggerFor]="exportMenu" class="noc-edit-button noc-rounded-button noc-sm"
      color="primary">
      EXPORT AS
    </button>
    <mat-menu #exportMenu="matMenu">
      <a [href]='cam?.model?.modelInfo?.gpadUrl' target="_blank" mat-menu-item>
        GPAD
      </a>
      <a [href]='cam?.model?.modelInfo?.owlUrl' target="_blank" mat-menu-item>
        OWL
      </a>
    </mat-menu>
  </div>
</div>
}