@use "@angular/material" as mat;
@import "@noctua/scss/noctua";
@import "@noctua.common/scss/noctua.common";

$primary: map-get($theme, primary);

:host {
  padding: 0;
  width: 100%;

  // Child component widths
  noc-cam-table {
    display: block;
  }

  noc-activity-connector {
    display: block;
    width: 600px;
    min-width: 600px;
    max-width: 600px;
  }

  noc-graph-settings {
    display: block;
    width: 500px;
    min-width: 500px;
    max-width: 500px;
  }

  noc-graph-activity-table {
    display: block;
    min-width: 400px;
  }

  .mat-drawer-content {
    width: 100%;
  }

  .noc-drawer-container {
    background-color: #e2e2e2;
  }

  // CAM heading bar
  .noc-cam-heading {
    margin-bottom: 4px;
    padding: 0 10px;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    width: 100%;
    background-color: #fff;
    font-size: 12px;
    @include mat.elevation(2);

    .noc-title {
      padding-left: 8px;
      padding-right: 8px;
      max-width: 250px;
    }

    .noc-toolbar-button {
      font-size: 18px;
      color: map-get($primary, 400);

      &:hover {
        font-size: 20px;
        color: map-get($primary, default);
      }
    }

    .noc-model-state {
      padding-left: 8px;
      padding-right: 8px;
      max-width: 150px;
    }

    mat-icon-button {
      border-radius: 0 !important;
    }
  }

  // MDC chip styling
  mat-chip,
  .mat-mdc-chip {
    font-size: 12px;
    font-weight: normal;
    height: 25px;
    min-height: 25px;
    max-height: 25px;
    max-width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;

    .mat-mdc-chip-action-label {
      display: flex !important;
      align-items: center;
      justify-content: flex-start;
      padding: 0 !important;
    }

    .noc-chip-label {
      padding: 0 8px 0 4px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &.noc-table-chip {
      padding: 0;
      font-size: 10px;

      .noc-icon,
      .noc-icon-action {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        color: #777;
        font-size: 14px;
        flex-shrink: 0;
      }

      .noc-icon-action {
        font-size: 10px;
        background-color: transparent;

        &:hover {
          font-size: 14px;
          color: #222;
          background-color: rgba(#000000, 0.2);
        }
      }

      @include noc-chip-color(#ddd);

      &.noc-user-chip {
        @include noc-chip-color(#bbc9cc);
        .noc-icon {
          color: #59939e;
        }
      }

      &.noc-date-chip {
        @include noc-chip-color(#aee9f5);
      }

      &.noc-state-chip {
        &.noc-development {
          @include noc-chip-color(#f4c89c);
        }
        &.noc-production {
          @include noc-chip-color(#b6f1cc);
        }
        &.noc-review {
          @include noc-chip-color(#d8f6a3);
        }
      }
    }
  }

  // Side menu
  .noc-sidemenu {
    padding: 0;
    margin-right: 5px;
    height: 100%;
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    @include mat.elevation(2);
    border-right: #999 solid 1px;

    button {
      width: 60px;
      height: 60px;

      mat-icon {
        @include noc-icon-size(28px);
        color: $noc-primary-color-light;
      }

      &.noc-active mat-icon {
        color: #555;
      }
    }
  }

  // Drawers
  .noc-left-drawer {
    height: 100%;
    background-color: #fff;
    border-right: #bbb solid 1px;
    @include mat.elevation(4);
  }

  .noc-right-drawer {
    height: 100%;
    background-color: #fff;
    border-left: #bbb solid 1px;
  }
}
