input,
textarea {
    background: transparent;

    /* Placeholder color */
    &::placeholder {
        color: #94a3b8; /* slate-400 */
    }

    &::-moz-placeholder {
        color: #94a3b8; /* slate-400 */
    }

    &::-webkit-input-placeholder {
        color: #94a3b8; /* slate-400 */
    }

    &:-ms-input-placeholder {
        color: #94a3b8; /* slate-400 */
    }

    /* Autofill color fix */
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-background-clip: text;
        transition: background-color 5000s !important;
    }

    .dark & {
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
            -webkit-text-fill-color: rgba(255, 255, 255, 0.87);
        }
    }

    [data-autocompleted] {
        background-color: transparent !important;
    }
}
